/*----Banner Hero----*/
.banner--hero {
  margin: 0.75rem;
  width: 100%;
  align-items: center;
  margin-bottom: -120px;
}

.banner--hero h1, .banner--hero p {
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.banner--hero h1 {
  color: #23a9a9;
  z-index: 10;
}

.img--bannerhero {
  display: flex;
  justify-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.fotobanner {
  margin-top: -120px;
  z-index: 1;
}

#foto--principal {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#foto--principal img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.banner--hero h1 + p {
  z-index:9;
  position: relative;
}

@media (max-width: 1180px) {
  .fotobanner {
    margin-top: -60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 700px) {
  .fotobanner {
    margin-top: -60px;
  }
}

@media (max-width: 550px) {
  .banner--hero h1 {
    font-size: 30px;
    margin-top: -30px;
  }

  .banner--hero p {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  #foto--principal {
    margin-bottom: 20px;
  }
}

@media (max-width: 355px) {
  .banner--hero h1 {
    font-size: 26px;
    line-height: 1.4;
    margin : 20px 0px 40px 0;
  }



  #foto--principal img {
margin-bottom: 80px;
  }
}
