/*----- Section Calendar-----*/
.grid--calendario {
  display: grid;
  grid-template-columns: 1fr 624px;
  gap: 32px;
  margin: 3.75rem 0;
}

.splash4 {
  margin-left: -360px;
  margin-top: -200px;
  z-index: -9999;
  position: relative;
}

#calendario .titulo {
  color: #77d1d1;
  margin-bottom: 4.625rem;
}

.calend--esq p {
  font-size: 20px;
  text-align: center;
}

.arrow {
  margin-left: 400px;
  margin-top: -380px;
}

#calendario iframe {
  box-shadow: 0px 2.77px 2.21px 0px #00000005;
  box-shadow: 0px 6.65px 5.32px 0px #00000007;
  box-shadow: 0px 12.52px 10.02px 0px #00000009;
  box-shadow: 0px 22.34px 17.87px 0px #0000000b;
  box-shadow: 0px 41.78px 33.42px 0px #0000000d;
  box-shadow: 0px 100px 80px 0px #00000012;
}

.calend--dir iframe {
  position: relative;
  z-index: 1000000;
}


@media (max-width:1275px) {
  .grid--calendario {
    grid-template-columns: 1fr;
  }

  .arrow {
    rotate: 90deg;
    position: absolute;
    left: -340px;
    bottom: 250px;
  }

  .calend--esq {
    position: relative;
  }

  #calendario .titulo {
    color: #77d1d1;
    margin-bottom: 1.5rem;
  }

  .calend--dir {
    margin-top: -300px;
  }

  .calend--dir iframe {
    z-index: 1;
  }

  .splash4 {
  }
}

@media (max-width:855px) {
  .calend--esq p {
    font-size: 0.75rem;
}

#calendario .titulo {
  margin-bottom: 0rem;
}
}
}

@media (max-width:720px) {
  .arrow {
    transform: scaleY(-1);
    left: 40px;
  }
}

@media (max-width:655px) {
  .arrow {
    display: none;
  }
.calend--dir iframe {
  margin-top: -60px;
}

.splash4 {
  z-index: -60000;
  opacity: 50%;
}
}