.espaco {
  margin-bottom: 60px;
}

#espaco h1 {
  color: #d698d0;
}

.grid--espaco {
  margin-top: -350px;
  display: grid;
  grid-template-columns: 2fr;
  grid-column: auto;
  align-items: center;
  gap: 2rem;
}

.grid--espaco p {
  justify-content: start;
  padding-top: 24px;
  grid-column: 1;
  font-size: 20px;
  color: #d698d0;
}

.lista-itens ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-itens li {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.lista-itens li::before {
  content: "•";
  margin-right: 8px;
  color: #dc0eb3;
}

.espaco--img {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.espaco--img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer; 
  transition: transform 0.3s ease;
}


.grid--item1 {
  grid-column: 1;
  grid-row: 1;
}

.grid--item2 {
  grid-column: 2;
  grid-row: 1;
}

.grid--item3 {
  grid-column: 3;
  grid-row: 1;
}

.grid--item4 {
  grid-column: 1;
  grid-row: 2;
}

.grid--item5 {
  grid-column: 2;
  grid-row: 2;
}

.grid--item6 {
  grid-column: 3;
  grid-row: 2;
}

.splash3 {
  margin-left: -300px;
  margin-top: -80px;
  z-index: -1;
}

.fundo-escuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

/* Imagem ampliada */
.foto-ampliada {
  max-width: 90%; 
  max-height: 90%; 
  border-radius: 10px;
  position: relative; 
}

.fundo-escuro.active {
  display: flex;
}

.overlay.active {
  display: flex; 
}


.overlay {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  position: relative; 
}


.close-btn {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  font-size: 32px;
  color: white;
  cursor: pointer;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.7); 
  width: 36px;
  height: 36px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.espaco--img img:hover {
  transform: scale(1.03); 
}

/* Media query para telas menores */
@media (max-width: 855px) {
  .splash3 {
    visibility: hidden;
  }

  .grid--espaco {
    grid-template-columns: 1fr;
  }

  .grid--espaco ul {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: -20px;
  }

  .espaco--img {
    grid-column: 1;
    grid-row: 2;
  }
  .grid--espaco p {
    justify-content: center;
  }

  .lista-itens ul {
    justify-items: center;
  }

  .lista-itens li {
    justify-content: center;
    font-size: 0.75rem;
  }

  .grid--espaco p {
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {
  .grid--espaco ul {
    display: flex;
    flex-direction: column;
  }
  .espaco--img {
    grid-template-columns: 1fr 1fr;
  }

  .lista-itens li {
    font-size: 0.7rem;
  }

  .grid--espaco p {
    font-size: 0.75rem;
  }

  #espaco .titulo + p {
    margin-top: -10px;
  }
}
