.espaco {
  margin-bottom: 60px;
}

#espaco h1 {
  color: #d698d0;
}

.grid--espaco {
  margin-top: -350px;
  display: grid;
  grid-template-columns: 2fr;
  grid-column: auto;
  align-items: center;
  gap: 2rem;
}

.grid--espaco p {
  justify-content: start;
  padding-top: 24px;
  grid-column: 1;
  font-size: 20px;
  color: #d698d0;
}

.lista-itens ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-itens li {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.lista-itens li::before {
  content: "•";
  margin-right: 8px;
  color: #dc0eb3;
}

.espaco--img {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.espaco--img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer; 
  transition: transform 0.3s ease;
}


.grid--item1 {
  grid-column: 1;
  grid-row: 1;
}

.grid--item2 {
  grid-column: 2;
  grid-row: 1;
}

.grid--item3 {
  grid-column: 3;
  grid-row: 1;
}

.grid--item4 {
  grid-column: 1;
  grid-row: 2;
}

.grid--item5 {
  grid-column: 2;
  grid-row: 2;
}

.grid--item6 {
  grid-column: 3;
  grid-row: 2;
}

.splash3 {
  margin-left: -300px;
  margin-top: -80px;
  z-index: -1;
}

/* Fundo escuro invisível até a imagem ser clicada */
.fundo-escuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

/* Imagem ampliada */
.foto-ampliada {
  max-width: 90%; /* Limitar a largura da imagem ampliada */
  max-height: 90%; /* Limitar a altura da imagem ampliada */
  border-radius: 10px;
  position: relative; /* Isso permite que o botão seja posicionado em relação a esta imagem */
}


/* Quando o fundo escuro está ativo */
.fundo-escuro.active {
  display: flex;
}

.overlay.active {
  display: flex; /* Mostrar o overlay */
}

/* Overlay para ampliar a imagem */
.overlay {
  display: none; /* Inicialmente escondido */
  position: fixed; /* Fica fixo na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Mantém acima do fundo */
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  position: relative; /* Para o botão ser posicionado relativo à imagem */
}

/* Estilo do botão de fechar (X) */
.close-btn {
  position: absolute; /* O botão será posicionado em relação à imagem ampliada */
  top: 10px; /* Posição a partir do topo da imagem ampliada */
  right: 10px; /* Posição a partir da direita da imagem ampliada */
  font-size: 32px;
  color: white; /* Cor do X */
  cursor: pointer;
  z-index: 1001; /* Fica acima da imagem */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  width: 36px;
  height: 36px;
  border-radius: 50%; /* Botão circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.espaco--img img:hover {
  transform: scale(1.03); /* Pequeno efeito de zoom ao passar o mouse */
}

/* Media query para telas menores */
@media (max-width: 855px) {
  .splash3 {
    visibility: hidden;
  }

  .grid--espaco {
    grid-template-columns: 1fr;
  }

  .grid--espaco ul {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: -20px;
  }

  .espaco--img {
    grid-column: 1;
    grid-row: 2;
  }
  .grid--espaco p {
    justify-content: center;
  }

  .lista-itens ul {
    justify-items: center;
  }

  .lista-itens li {
    justify-content: center;
    font-size: 0.75rem;
  }

  .grid--espaco p {
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {
  .grid--espaco ul {
    display: flex;
    flex-direction: column;
  }
  .espaco--img {
    grid-template-columns: 1fr 1fr;
  }

  .lista-itens li {
    font-size: 0.7rem;
  }

  .grid--espaco p {
    font-size: 0.75rem;
  }

  #espaco .titulo + p {
    margin-top: -10px;
  }
}
