#regulamento {
    margin-top: -50px;
    padding-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid #77D1D1;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
}



.regulamento--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#regulamento .titulo {
color: #A8D698;
margin-bottom: 20px;
}

#regulamento p {
    margin-bottom: 1.25rem;
}

.texto p {
    text-align: left;
}