<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{%block title%}ADMIN{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/admin/admin.css">
  {% block head %}{% endblock %}
</head>

<body>
  <div class="menu--lateral">
    <div class="menu--topo">



      <div class="logo--admin">
        <img src="/static/img/logo.svg" alt="Logo park">
      </div>

      <span class="block--alert">
        {% block alert %}
        {% if request.query_params.status == 'success' %}
        <p style="color: rgb(8, 156, 8);">Conteúdos atualizados com sucesso!</p>
        {% endif %}
        {% endblock %}
      </span>

      <nav class="admin--p">
        {% block nav %}
        {% endblock %}
      </nav>

      <section class="admin--list">{% block main%}{% endblock %}</section>

      {% block bottom %}{% endblock %}
    </div>

    <form action="/admin/logout" method="POST">
      <button type="submit" class="btn-logout btn--secundario">Sair</button>
    </form>
  </div>
</body>

</html>
