{% extends "admin/base.html"%}

{% block title%} {{item.title}} | ADMIN {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/square.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/icons/monocons.min.js"></script>
{% endblock %}

<div class="edit--container">
  {% block main %}
    <form action="/admin/{{item.identifier}}" method="POST">
      <label for="content">{{ item.title }}:<br></label><br>
      <textarea id="content" width=500px name="content">{{ item.content }}</textarea><br><br>
      <a href="{{ url_for('admin_index')}}" class="admin--voltar btn--secundario"> Voltar </a>
      <button class="admin--btn" type="submit">Enviar</button>
    </form>
  {% endblock %}
</div>


{% block bottom %}

<script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/formats/xhtml.min.js"></script>
<script>
// https://github.com/samclarke/SCEditor/
// https://www.sceditor.com/documentation/getting-started/
var textarea = document.getElementById('content');
sceditor.create(textarea, {
    format: 'xhtml',
    icons: 'monocons',
    emoticonsEnabled: false,
    height: '350px',
    width: '80%',
    plugins: 'undo',
    toolbar: 'bold,italic,strike,underline|horizontalrule,link,unlink,image,email|left,center,right,justify|color|table,bulletlist,orderedlist|source,maximize',
    toolbarExclude: 'table,bulletlist,orderedlist|indent,outdent|quote,youtube|source,maximize',
    style: 'https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/content/default.min.css'
});
</script>

{% endblock %}
