<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login | ADMIN</title>
</head>
<body id="body--dashboard">
    <div class="login-container">
        <h2>Login</h2>

        {% block alert %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        {% endblock %}

        {% block main %}
        <form method="POST" action="/admin/login">
            <div class="form-group">
                <label for="username">Usuário:</label><br>
                <input type="text" id="username" name="username" placeholder="Digite seu usuário" required><br><br>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label><br>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required><br><br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-login">Entrar</button>
            </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>
