/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}


.header-bg {
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hamburger {
  display: none;
}

.header nav {
  display: flex;
}

.header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end; 
  gap: 20px; 
}


.header-menu {
  align-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu li {
  padding: 14px 24px;
  font-size: 20px;
}

.header nav ul li:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: #5cb4b4;
}


@media (max-width: 1180px) {
  #logo-img img {
      height: 120px;
  }

  .header {
      position: relative; 
  }

  .header nav {
      position: relative;
  }

  .header nav ul {
      display: none; 
      position: absolute; 
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      width: 200px;
      top: 60px; 
      right: 0; 
      background-color: rgb(255, 255, 255); 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
      z-index: 10;
      border-radius: 10px;
  }

  .header nav ul.show {
      display: flex; 
  }

  .hamburger {
      display: block;
      font-size: 35px;
      cursor: pointer;
      color: #228080;
      position: relative;
      z-index: 15;
      margin-left: 20px; 
      margin-top: 3px;
  }

.header-menu .btn {
    display: block; /* Garante que o botão seja visível */
    margin-top: 10px;
    margin-left: -10px; /* Ajuste o espaçamento conforme necessário */
    z-index: 15;
  }
}