/*----Banner Hero----*/
.banner--hero {
  margin: 0.75rem;
  width: 100%;
  align-items: center;
}

.banner--hero h1,
p {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.banner--hero h1 {
  color: #23a9a9;
  z-index: 10;
}

.splash1 {
  margin-left: -160px;
  margin-top: -200px;
  z-index: 1;
}

.splash2 {
  margin-left: 400px;
  margin-top: 100px;
  margin-bottom: -500px;
  z-index: 2;
}

.img--bannerhero {
  display: flex;
  justify-items: center;
  width: max-content;
  max-width: 80rem;
  border-radius: 10px;
}

.fotobanner {
  margin-left: -1500px;
  z-index: auto;
}

.img--bannerhero #foto--principal img {
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 #c8c8c8;
  object-fit: cover;
  display: block;
}
