<!DOCTYPE html>
    <form action="/admin" method="POST">
        {% if content %}
            {% for item in content %}
                <label for="{{ item.identifier }}">{{ item.title }}:</label><br>
                <textarea id="{{ item.identifier }}" name="{{ item.identifier }}" rows="10" cols="50"
                    placeholder="Digite os {{ item.title }} aqui...">{{ item.content }}</textarea><br><br>
            {% endfor %}
        {% else %}
            <p>Nenhum conteúdo encontrado no banco de dados.</p>
        {% endif %}
        <button type="submit">Enviar</button>
    </form>
</html>
