<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça o Park Encantado, parque infantil para crianças de 2 a 12 anos com piscina de bolinhas, trampolim, escorregadores e muito mais. O local perfeito para diversão em Viana do Castelo!">
    <title>{%block title%} Park Encantado {%endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Junge&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
    </style>
</head>

<body>
    <header>
        <div class="header-bg">
            <div class="header">
            {% block header %}
            <a href="./" id="logo-img"><img src="static/img/logo.svg" alt="Park Encantado"></a>
            <nav aria-label="primaria">
                <ul class="header-menu">
                    <li><a href="{{url_for('index')}}#espaco">O espaço</a></li>
                    <li><a href="{{url_for('index')}}#aniversarios">Aniversários</a></li>
                    <li><a href="{{url_for('index')}}#endereco">Localização</a></li>
                    <li><a href="{{url_for('index')}}#contacto">Contacto</a></li>
                </ul>
                <a href="{{url_for('index')}}#aniversarios" class="btn">Reserve</a>
                <div class="hamburger" id="hamburger-menu">
                    &#9776;
                </div>
            </nav>
            {% endblock %}
            </div>
        </div>
    </header>
    {% block bannerhero %}{% endblock %}

    {% block main %}{% endblock %}

    {% block contacto %}
    
    {% endblock %}

    <section id="regulamento" class="container-1200">
    {% block regulamento%}
        <div class="regulamento--main">
            <h1 class="titulo">regulamento</h1>
            <p>Consulte aqui nosso regulamento de utilização do Park</p>
            <a href="{{url_for('index', identifier='regulamento')}}" class="btn--secundario" role="button">Consultar</a>
        </div>
    {% endblock %}
    </section>

    {%block footer%}
    <footer>
        <div class="footer container-1200">
            <div class="footer--grid">
                <div>
                    <a href="./" id="logo-img"><img src="static/img/logo.svg" alt="Park Encantado"></a>
                </div>
                <div>
                    <div class="seg--footer--grid">
                        <div class="footer--grid--esq">
                            <div class="social--itens">
                                <a href="https://www.facebook.com/p/Park-Encantado-61558814477129/" target="_blank" class="icon-link"><img src="../static/img/icon-facebook.svg" alt=""><span> Facebook</span></a>
                            </div>
                            <div class="social--itens">
                                <a href="https://www.instagram.com/park.encantado/" target="_blank" class="icon-link"><img src="../static/img/icon-instagram.svg" alt=""><span> Instagram</span></a>
                            </div>
                            <div class="social--itens">
                                <a href="mailto:parkencantado2024@gmail.com" target="_blank" class="icon-link"><img src="../static/img/icon-mail.svg" alt=""><span> E-mail</span></a>
                            </div>
                        </div>
                        <div class="footer--grid--dir">
                            <ul>
                                <li><a href="{{url_for('index')}}#espaco">O espaço</a></li>
                                <li><a href="{{url_for('index')}}#aniversarios">Aniversários</a></li>
                                <li><a href="{{url_for('index')}}#endereco">Localização</a></li>
                                <li><a href="{{url_for('index')}}#contacto">Contacto</a></li>
                                <li><a href="{{url_for('index', identifier='regulamento')}}">Regulamento</a></li>
                                <li><a href="{{url_for('index', identifier='sobre')}}">Sobre o Park</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Copyright © 2024 Park Encantado</p>
            <p class="designEdesenvolvimento"><a href="https://wa.me/351961572198" target="_blank">Desenvolvido por Karla Mag e Victor Magueta </a></p>

        </div>
        <a href="https://wa.me/351915508864" target="_blank" class="whatsapp-fixo">
            <img src="static/img/whatsapp--icon.png" alt="WhatsApp">
        </a>
    </footer>
    {% endblock %}


    {% block bottom %}
    <script src="static/js/script.js"></script>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    {% endblock%}

    <!-- Hot reload script -->
    {% if DEBUG %} {{ hot_reload.script(url_for('hot-reload')) | safe }} {% endif
    %}

</body>

</html>
