{% extends "base.html" %}

{% block bannerhero %}
<section id="bannerhero" class="container-1200">
    <div class="banner--hero">
        <div>
            <h1 class="titulo">diversão pura é no park</h1>
            <p>Espaço de festas infantis e Tempo Livre</p>
        </div>
        <div class="img--bannerhero">
            <div id="foto--principal">
                <img class="fotobanner" src="static/img/banner--img.png" alt="Foto do Espaço instagramável com Urso de Peluche grande e um baloiço em um fundo florido">
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block main %}
<section id="espaco" class="espaco container-1200">
    <div>
        <h1 class="titulo">nosso espaço</h1>
        <p>Em nosso espaço temos diversão dos 5 aos 12 anos</p>
    </div>
    <div class="splash3">
        <img src="static/img/splash3.png" alt="">
    </div>
    <div class="grid--espaco">
        <div class="lista-itens">
            <ul>
                <li> Escorregador</li>
                <li> Piscina de bolinhas</li>
                <li> Pula-pula</li>
                <li> Arena Nerf (7+ anos)</li>
                <li> Sala de desenhos</li>
                <li> Campinho de Futebol</li>
                <li> Matraquilhos</li>
            </ul>
            <p>E muito mais!!!</p>
        </div>
        <div class="espaco--img">
            <img src="static/img/IMG_0885.jpg" alt="Imagem 1" class="foto">
            <img src="static/img/IMG_0890.jpg" alt="Imagem 2" class="foto">
            <img src="static/img/IMG_0917.jpg" alt="Imagem 3" class="foto">
            <img src="static/img/IMG_0987.jpg" alt="Imagem 4" class="foto">
            <img src="static/img/IMG_0956.jpg" alt="Imagem 5" class="foto">
            <img src="static/img/IMG_0997.jpg" alt="Imagem 6" class="foto">

            <div id="overlay" class="overlay">
                <span id="close-btn" class="close-btn">&times;</span>
                <button id="prev-btn" class="nav-btn"><</button>
                <img id="imgAmpliada" src="" alt="Imagem Ampliada" class="foto-ampliada">
                <button id="next-btn" class="nav-btn">></button>
            </div>
        </div>
    </div>
</section>
<section id="aniversarios" class="container-1200">
    <div>
        <h1 class="titulo">aniversários</h1>
    </div>
    <div class="grid--aniversarios container-1200">
        <div class="orcamento">
            <p class="aniv--p">Solicite seu orçamento</p>
            <div class="col--12">
                <label for="nome">Nome<br></label>
                <input class="form--nome" type="text" id="nome" name="nome" placeholder="Nome Completo" required>
            </div>
            <div class="col--12">
                <label for="email">E-mail<br></label>
                <input class="form--email" type="text" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="orcamento--form">
                <div class="col--1">
                    <label for="telemovel">Telemóvel<br></label>
                    <input type="tel" id="telemovel" name="telemovel" placeholder="xxx xxx xxx">
                </div>
                <div class="col--2">
                    <label for="data">Data da Festa<br></label>
                    <input type="date" id="data" name="data" required>
                </div>
            </div>
            <div class="col--12">
                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem" name="mensagem" rows="5" placeholder="Digite aqui sua mensagem"></textarea>
            </div>
            <div class="btn--form">
                <button class="btn" type="button" onclick="enviarFormulario()">Enviar</button>
            </div>
        </div>
        <div class="img--aniversario">
            <img src="../static/img/bolo.jpg" alt="imagem de bolo de aniversário em uma mesa enfeitada">
        </div>
    </div>
</section>

<section id="calendario" class="container-1200">
    <div class="grid--calendario">
        <div class="calend--esq">
            <div>
                <h1 class="titulo">o park está aberto?</h1>
            </div>
            <div>
                <p>Aqui você pode conferir<br>
                    se nosso espaço está disponível<br>
                    para sua visita ou festa de aniversário!</p>
            </div>
            <div class="splash4">
                <img src="static/img/splash4.png" alt="">
            </div>
            <div class="arrow">
                <img src="static/img/arrow.png" alt="">
            </div>
        </div>
        <div class="calend--dir">
            <iframe src="https://embed.styledcalendar.com/#2DMPE9FPv8PJtxNuBhnu" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
        </div>
    </div>
</section>
<section id="endereco" class="container-1200">
    <div>
        <h1 class="titulo">endereço</h1>
    </div>
    <div class="endereco--grid">
        <div class="endereco--esq">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.132715394786!2d-8.781596662776138!3d41.71765495529954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25b71ff0fb391b%3A0x5f1a7a85b9027f36!2sPark%20Encantado!5e0!3m2!1sen!2spt!4v1726759001244!5m2!1sen!2spt" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="endereco--dir">
            <div class="endereco">
                <h1>VEM VISITAR-NOS!</h1>
<!--                 <p class="endereco--icon">R. Estrada da Igreja 2310, 4925-573 Perre<br>Viana do Castelo, Portugal</p> -->
                <p class="endereco--icon">{{ content.endereco.content | safe }}</p>
<!--                 <p class="horario--icon">Quarta a sexta-feira: 14h - 19h*<br>Sábado e Domingo: 10h - 19h*<br>Folga semanal: Segundas e Terças-feira*</p> -->
                <p class="horario--icon"> {{ content.horario.content | safe }}</p>
                <p>*Horário sujeito a alterações sem aviso prévio. <br> Consulte nosso Instagram para mais informações.</p>
            </div>
            <div class="redes--sociais">
                <h1>REDES SOCIAIS</h1>
                <div class="social--flex">
                    <div class="social--itens">
                        <a href="https://www.facebook.com/p/Park-Encantado-61558814477129/" target="_blank" class="icon-link"><img src="../static/img/icon-facebook.svg" alt=""><span> Facebook</span></a>
                    </div>
                    <div class="social--itens">
                        <a href="https://www.instagram.com/park.encantado/" target="_blank" class="icon-link"><img src="../static/img/icon-instagram.svg" alt=""><span> Instagram</span></a>
                    </div>
                    <div class="social--itens">
                        <a href="mailto:parkencantado2024@gmail.com" target="_blank" class="icon-link"><img src="../static/img/icon-mail.svg" alt=""><span> E-mail</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
