{% extends "base.html" %}

{% block bannerhero %}
<section id="bannerhero" class="container-1200">
    <div class="banner--hero">
        <div>
            <h1 class="titulo">diversão pura é no park</h1>
            <p>Espaço de festas infantis e Tempo Livre</p>
        </div>
        <div class="img--bannerhero">
            <div id="foto--principal">
                <picture>
                    <source srcset="
                        static/img/banner_small.webp 600w,
                        static/img/banner_medium.webp 900w,
                        static/img/banner_large.webp 1200w
                    " 
                    sizes="
                        (max-width: 600px) 90vw,
                        (max-width: 900px) 80vw,
                        (max-width: 1200px) 70vw,
                        1200px
                    " 
                    type="image/webp">
                    <source srcset="
                        static/img/banner_small.webp 600w,
                        static/img/banner_medium.webp 900w,
                        static/img/banner_large.webp 1200w
                    " 
                    sizes="
                        (max-width: 600px) 90vw,
                        (max-width: 900px) 80vw,
                        (max-width: 1200px) 70vw,
                        1200px
                    " 
                    type="image/webp">
                    <img class="fotobanner" 
                         src="static/img/banner_small.webp" 
                         width="1200" 
                         height="auto" 
                         alt="Foto do Espaço instagramável com Urso de Peluche grande e um baloiço em um fundo florido">
                </picture>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block main %}
<section id="espaco" class="espaco container-1200">
    <div>
        <h1 class="titulo">nosso espaço</h1>
        <p>Em nosso espaço temos diversão dos 2 aos 12 anos</p>
    </div>
    <div class="splash3">
        <img src="static/img/splash3.png" alt="Imagem de fundo em aquarela">
    </div>
    <div class="grid--espaco">
        <div class="lista-itens">
            <ul>
                <li> Escorregador</li>
                <li> Piscina de bolinhas</li>
                <li> Trampolim</li>
                <li> Arena Nerf (7+ anos)</li>
                <li> Sala de desenhos</li>
                <li> Campinho de Futebol</li>
                <li> Matraquilhos</li>
            </ul>
            <p>E muito mais!!!</p>
        </div>
        <div class="espaco--img">
            <img src="/static/img/espaco_1_small.png" alt="Imagem 1" class="foto">
            <img src="/static/img/espaco_2_small.png" alt="Imagem 2" class="foto">
            <img src="/static/img/espaco_3_small.png" alt="Imagem 3" class="foto">
            <img src="/static/img/espaco_4_small.png" alt="Imagem 4" class="foto">
            <img src="/static/img/espaco_5_small.png" alt="Imagem 5" class="foto">
            <img src="/static/img/espaco_6_small.png" alt="Imagem 6" class="foto">

            <div id="overlay" class="overlay">
                <span id="close-btn" aria-label="Botão para fechar a janela da foto" class="close-btn">&times;</span>

                <button id="prev-btn" aria-label="botão para passar para a foto anterior" class="nav-btn">
                    < </button>
                        <img id="imgAmpliada" src="" alt="Imagem Ampliada" class="foto-ampliada">
                        <button id="next-btn" aria-label="botão para passar a foto seguinte" class="nav-btn">></button>
            </div>
        </div>
    </div>
</section>
<section id="aniversarios" class="container-1200">
    <div>
        <h1 class="titulo">aniversários</h1>
    </div>
    <div class="grid--aniversarios container-1200">
        <div class="orcamento emailform">
            <p class="aniv--p">Solicite seu orçamento</p>
            <div class="col--12">
                <label for="nome">Nome<br></label>
                <input class="form--nome" type="text" id="nome" name="nome" placeholder="Nome Completo" required>
            </div>
            <div class="col--12">
                <label for="email">E-mail<br></label>
                <input class="form--email" type="text" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="orcamento--form">
                <div class="col--1">
                    <label for="telemovel">Telemóvel<br></label>
                    <input type="tel" id="telemovel" name="telemovel" placeholder="xxx xxx xxx">
                </div>
                <div class="col--2">
                    <label for="data">Data da Festa<br></label>
                    <input type="date" id="data" name="data" required>
                </div>
            </div>
            <div class="col--12">
                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem" name="mensagem" rows="5" placeholder="Digite aqui sua mensagem"></textarea>
            </div>
<div class="btn--form">
    <span id="sucesso" class="sucesso--span"></span>
    <span id="processando" class="processando--span" style="display: none;">Enviando...</span>
    <button id="submit-btn" class="btn" aria-label="botão para envio de formulário de mensagem" type="button" onclick="enviarFormulario()">Enviar</button>
</div>
        </div>
        <div class="img--aniversario">
            <img src="../static/img/bolo.webp" alt="imagem de bolo de aniversário em uma mesa enfeitada">
        </div>
    </div>
</section>

<!-- <section id="calendario" class="container-1200">

    <div class="grid--calendario">
        <div class="calend--esq">
            <div>
                <h1 class="titulo">o park está aberto?</h1>
            </div>
            <div>
                <p>Aqui você pode conferir<br>
                    se nosso espaço está disponível<br>
                    para sua visita ou festa de aniversário!</p>
            </div>
            <div class="splash4">
                <img src="static/img/splash4.png" alt="">
            </div>
            <div class="arrow">
                <img src="static/img/arrow.png" alt="">
            </div>
        </div>
        <div class="calend--dir">
            <iframe src="https://embed.styledcalendar.com/#2DMPE9FPv8PJtxNuBhnu" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
        </div>
    </div>
</section> -->


<section id="endereco" class="container-1200">
    <div>
        <h1 class="titulo">endereço</h1>
    </div>
    <div class="endereco--grid">
        <div class="endereco--esq">
            <iframe title="Endereço do Park encantado no Google Maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.132715394786!2d-8.781596662776138!3d41.71765495529954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25b71ff0fb391b%3A0x5f1a7a85b9027f36!2sPark%20Encantado!5e0!3m2!1sen!2spt!4v1726759001244!5m2!1sen!2spt" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="endereco--dir">
            <div class="endereco">
                <h1>VEM VISITAR-NOS!</h1>
                <!--                 <p class="endereco--icon">R. Estrada da Igreja 2310, 4925-573 Perre<br>Viana do Castelo, Portugal</p> -->
                <p class="endereco--icon">{{ content.endereco.content | safe }}</p>
                <!--                 <p class="horario--icon">Quarta a sexta-feira: 14h - 19h*<br>Sábado e Domingo: 10h - 19h*<br>Folga semanal: Segundas e Terças-feira*</p> -->
                <p class="horario--icon"> {{ content.horario.content | safe }}</p>
                <p>*Horário sujeito a alterações sem aviso prévio. <br> Consulte nosso Instagram para mais informações.</p>
            </div>
            <div class="redes--sociais">
                <h1>REDES SOCIAIS</h1>
                <div class="social--flex">
                    <div class="social--itens">
                        <a href="https://www.facebook.com/p/Park-Encantado-61558814477129/" target="_blank" aria-label="Link para o Facebook do Park" class="icon-link"><img src="../static/img/icon-facebook.svg" alt=""><span> Facebook</span></a>
                    </div>
                    <div class="social--itens">
                        <a href="https://www.instagram.com/park.encantado/" aria-label="Link para o Instagram do Park" target="_blank" class="icon-link"><img src="../static/img/icon-instagram.svg" alt=""><span> Instagram</span></a>
                    </div>
                    <div class="social--itens">
                        <a href="mailto:parkencantado2024@gmail.com" aria-label="Link para enviar e-mail para o Park" target="_blank" class="icon-link"><img src="../static/img/icon-mail.svg" alt=""><span> E-mail</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contacto">
    <div class="container-1200">
        <div class="contacto--grid">
            <div class="contacto--esq">
                <h1 class="titulo">contacto</h1>
                <p>Mande-nos sua mensagem,<br>
                    e responderemos o mais breve possível!</p>
            </div>
            <form>
                <div class="contacto--dir emailform_contacto">
                    <div>
                        <label for="nome">Nome<br></label>
                        <input class="form--nome" type="text" id="nome_contacto" name="nome_contacto" placeholder="Nome Completo" required>
                    </div>
                    <div>
                        <label for="email">E-mail<br></label>
                        <input class="form--email" type="email" id="email_contacto" name="email_contacto" placeholder="E-mail" required>
                    </div>
                    <div>
                        <div>
                            <label for="telemovel">Telemóvel<br></label>
                            <input type="tel" id="telemovel_contacto" name="telemovel_contacto" placeholder="xxx xxx xxx">
                        </div>
                    </div>
                    <div>
                        <label for="mensagem">Mensagem</label>
                        <textarea id="mensagem_contacto" name="mensagem_contacto" rows="5" placeholder="Digite aqui sua mensagem"></textarea>
                    </div>
                    <div class="btn--form">
                        <span id="sucesso_contacto" class="sucesso--span"></span>
                        <span id="processando_contacto" class="processando--span" style="display: none;">Enviando...</span>
                        <button class="btn" type="button" aria-label="Botão para enviar mensagen" onclick="enviarFormulario('_contacto')">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <img src="../static/img/splash5.png" alt="Imagem de fundo de spash em aquarela" class="contacto--splash">
    </div>
</section>

<section id="reviews" class="container-1200">
    <div class="reviews--title">
        <h1 class="titulo">depoimentos</h1>
        <p>Sua opinião é muito importante para nós!</p>
    </div>

    <div class="reviews-carousel">
        <button class="carousel-prev">❮</button>

        <div class="card--carrossel-wrapper">
            <div class="card--carrossel">
                <!-- Card 1-->
                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Fizemos a festa de anos da nossa filha e correu tudo super bem, fomos muito bem atendidos e tiveram sempre muito cuidado com toda a gente. O espaço estava muito limpo. Recomendamos ☺️ muito obrigada por tudo!!
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Fizemos a festa de anos da nossa filha e correu tudo super bem, fomos muito bem atendidos e tiveram sempre muito cuidado com toda a gente. O espaço estava muito limpo. Recomendamos ☺️ muito obrigada por tudo!!
                    </p>
                    <p class="reviewer-name">Ana Sofia M. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">
                </div>
                <!-- Card 2 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Meu filho adora o Park Encantado, um local muito acolhedor para as crianças e com um espaço agradável para os pais tomarem um café enquanto esperam, os funcionários são bastante atentos sempre a postos para monitorar as crianças, recomendo!

                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Meu filho adora o Park Encantado, um local muito acolhedor para as crianças e com um espaço agradável para os pais tomarem um café enquanto esperam, os funcionários são bastante atentos sempre a postos para monitorar as crianças, recomendo!
                    </p>
                    <p class="reviewer-name">Bruno R. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>

                <!-- Card 3 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Ambiente acolhedor, muitas opções de diversão as crianças. Os monitores são super educados. Adorei a área dos pais, onde pude tomar café e desacansar um pouco, enquanto olhava meus filhos brincarem. Recomendo a todos.
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Ambiente acolhedor, muitas opções de diversão as crianças. Os monitores são super educados. Adorei a área dos pais, onde pude tomar café e desacansar um pouco, enquanto olhava meus filhos brincarem. Recomendo a todos.
                    </p>
                    <p class="reviewer-name">Bruna Aparecida L. S. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>

                <!-- Card 4 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Crianças felizes, ambiente tranquilo com muita simpatia, dedicação e disponibilidade. Obrigada
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Crianças felizes, ambiente tranquilo com muita simpatia, dedicação e disponibilidade. Obrigada
                    </p>
                    <p class="reviewer-name">Ana C. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>

                <!-- Card 5 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Espaço bem organizado, excelente local e um casal 5 estrelas. Super indico!
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Espaço bem organizado, excelente local e um casal 5 estrelas. Super indico!
                    </p>
                    <p class="reviewer-name">Ricardo R. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>

                <!-- Card 6 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Melhor espaço infantil que já fui e amei fazer a festa do meu filho la 😍🫶
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Melhor espaço infantil que já fui e amei fazer a festa do meu filho la 😍🫶
                    </p>
                    <p class="reviewer-name">Vitória C. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>


                <!-- Card 7 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Lugar ótimo para uma hora de brincadeiras e pra fazer a festa de aniversário. Anfitriões muito simpáticos
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Lugar ótimo para uma hora de brincadeiras e pra fazer a festa de aniversário. Anfitriões muito simpáticos
                    </p>
                    <p class="reviewer-name">Tainá P. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>

                <!-- Card 8 -->

                <div class="review-card">
                    <div class="stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
                    <p class="review-text">
                        Muito show o atendimento e o carinho ❤️ com as crianças!!!
                    </p>
                    <span class="read-more">Leia mais</span>
                    <p class="full-text" style="display: none;">
                        Muito show o atendimento e o carinho ❤️ com as crianças!!!
                    </p>
                    <p class="reviewer-name">Clóvis G. <img src="/static/img/verified.png" alt=""></p>
                    <img class="google--icon" src="/static/img/google icon.png" alt="">

                </div>
            </div>
        </div>

        <button class="carousel-next">❯</button>
    </div>

    <!-- Modal -->
    <div id="modal-overlay" class="modal-overlay">
        <div class="modal-content">
            <span id="close-modal" class="close-modal">&times;</span>
            <div class="modal-stars" id="modal-stars"><img src="/static/img/stars.png" alt="5 estrelas"></div>
            <p id="modal-text"></p>
            <p id="modal-reviewer" class="modal-reviewer"></p>
        </div>
    </div>
</section>
{% endblock %}
