<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park Encantado</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Junge&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
    </style>

</head>

<body>
    <header>
        <div class="header-bg" id="pagregulamento">
            <div class="header">
                <a href="./" id="logo-img"><img src="static/img/logo.svg" alt="Park Encantado"></a>
                <nav aria-label="primaria">
                    <ul class="header-menu">
                        <li><a href="#espaco">O espaço</a></li>
                        <li><a href="#aniversarios">Aniversários</a></li>
                        <li><a href="#localizacao">Localização</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                    <a href="#aniversarios" class="btn">Reserve</a>
                    <div class="hamburger" id="hamburger-menu">
                        &#9776;
                    </div>
                </nav>
            </div>
        </div>
    </header>
